/**************************************************
GENERAL
**************************************************/

html {
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}



/**************************************************
NAVIGATION MENU
**************************************************/

nav {
  width: 100%;
  height: 78px;
  margin: 0 auto;
  background: linear-gradient(#466995, #FFF);
  border-bottom: 2px solid #466995;
  position: fixed;
  z-index: 1000;
}

#headshot img {
  float: left;
  border: 1px solid #466995;
  margin: 8px 10px 4px;
  height: 140px;
  position: fixed;
  border-radius: 100%;
}

nav ul {
  padding: 10px;
  text-align: right;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 30px;
  font-family: "Oswald";
  font-size: 2.3em;
}

nav li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 700ms;
}

nav li a:hover {
  color: #466995;
  transition-duration: 700ms;
}



/**************************************************
ABOUT
**************************************************/

.about {
  margin: 0 auto;
  padding: 100px;
  min-height: 100vh;
  box-sizing: border-box;
  display: block;
  background-color: #466995;
  background-image: url('../img/dallas_backdrop.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #FFF;
  font-family: "Oswald";
}

.about h1 {
  font-size: 4em;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 4px black;
}

.about p {
  font-size: 1.9em;
  padding: 10px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px black;
}

#resume {
  display: flex;
  justify-content: center;
}

#resume a {
  letter-spacing: 2px;
  font-size: 1.5em;
  padding: 10px 50px;
  background-color: #fff;
  color: #466995;
  border: 1px solid #fff;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 2px 2px 4px black;
  transition-duration: 700ms;
}

#resume a:hover {
  background-color: #466995;
  color: #fff;
  transition-duration: 700ms;
  transform: scale(1.3);
}

#social {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

#social a {
  width: 60px;
  margin: 20px;
  padding: 5px;
  background-color: #fff;
  color: #466995;
  border: 1px solid #fff;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 2px 2px 4px black;
  transition-duration: 700ms;
}

#social a:hover {
  background-color: #466995;
  color: #fff;
  transition-duration: 700ms;
  transform: scale(1.3);
}



/**************************************************
PORTFOLIO
**************************************************/

.portfolio {
  min-height: 100vh;
  /*background-image: url('../img/brickBG.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;*/
  box-sizing: border-box;
  text-align: center;
  font-family: "Oswald";
  color: #466995;
}

.portfolio h1 {
  font-size: 3.5em;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 2px;
  padding-top: 100px;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.project-list {
  position: relative;
  left: -100vw;
  transition: 1000ms;
}

.portfolio a {
  list-style: none;
  flex-basis: 30%;
  margin: 10px 1.5%;
  text-decoration: none;
}

.portfolio p {
  font-size: 1.6em;
  letter-spacing: 2px;
}

.portfolio li {
  background-color: rgba(0, 0, 0, 0);
  transition: .7s;
  height: 100%;
  color: rgba(255, 255, 255, 0);
}

.portfolio li:hover {
  background-color: rgba(0, 0, 0, .6);
  color: rgba(255, 255, 255, 1);
}

#project1 {
  background-image: url('../img/bent-creek-ceramics.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
}

#project2 {
  background-image: url('../img/theCalc.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

#project3 {
  background-image: url('../img/mysteryWord.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
}

#project4 {
  background-image: url('../img/nasa-api.png');
  background-position: center;
  background-size: cover;
  height: 250px;
}

#skills {
  display: flex;
  justify-content: space-around;
  width: 720px;
  margin: 120px auto 0;
}

.skills img {
  width: 125px;
  height: 125px;
}

.skills img:hover {
  transform: rotate(360deg);
  transition-duration: 700ms;
}

#code {
  width: 150px;
  margin-right: 15px;
}



/**************************************************
CONTACT
**************************************************/

.contact {
  min-height: 100vh;
  font-family: "Oswald";
  color: #fff;
  background-color: #466995;
  background-image: url('../img/contactBG.jpg');
  background-size: cover;
  background-position: center;
}

.contact h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 3.5em;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 2px;
}

#contactForm {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 5px #466995;
  padding: 20px;
}

input {
  line-height: 3em;
  width: 100%;
  margin-top: 5px;
  border-style: none;
  box-sizing: border-box;
  padding: 10px;
}

textarea {
  width: 100%;
  margin-top: 5px;
  border-style: none;
  box-sizing: border-box;
  padding: 10px;
}

button {
  font-size: 1.6em;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}



/**************************************************
FOOTER
**************************************************/

footer {
  display: flex;
  justify-content: center;
  background: linear-gradient(#FFF, #466995);
  border-top: 1px solid #466995;
  height: 80px;
}

footer p {
  font-family: "Oswald";
  color: #333;
}

footer a {
  margin-left: 10px;
}

#footericon {
  color: #333;
}
